#footer {
    width: 100%;
    margin-top: 40px;
    background: #242729;
    clear: both;
    padding: 25px 40px;
}

#footer .footerWrap {
    width: 80%;
    display: block;
    margin: 10px auto;
    color: #9fa6ad;
}

#footer .footerWrap table {
    border-spacing: 10px;
    border-collapse: collapse;
}

#footer .footerWrap th {
    color: #ffffff;
    margin-bottom: 10px;
    padding-bottom: 20px;
    font-size: 17px;
}

#footer .footerWrap td ol {
    margin: 0;
    list-style-type: none;
    padding-right: 30px;
    padding-left: 0;
}

#footer:after{
    height: 142px;
}