@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 400;
  src: local('Rasa'), local('Rasa-Regular'), url(https://fonts.gstatic.com/s/rasa/v1/5BXeoDzMhvM6yYk1gbyFdg.ttf) format('truetype');
}
