<!DOCTYPE HTML>

<html>

<head>
    <title> Test filter </title>
    <meta http-equiv="content-type" content ="text/html"; charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/pivotTable.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/slideshow.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['corechart']
        });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var options = {
                title: 'Correlation between HIV incidence and GDP per capita ' +
               'of some developing countries (From 1990 to 2015)',
                backgroundColor: "#e9e9e9",
                fontName: 'Georgia',
                hAxis: {
                    title: 'HIV incidence',
                    gridlines: {
                        count: 0
                    },
                    viewWindowMode: 'maximized',
                    viewWindow: {
                        min: '-1000'
                    }
                },
                axisTitlesPosition: 'in',
                vAxis: {
                    title: 'GDP per capita ($)',
                    viewWindow: {
                        min: '-2'
                    },
                    viewWindowMode: 'maximized',
                    gridlines: {
                        count: 7
                    }
                }, 
                bubble: {textStyle: {
                    fontSize: 8,
                    fontName: 'Georgia',
                    color: 'none',
                },
                    stroke: 'none',
                    opacity: 0.5
                },
                animation: {
                    duration: 1000,
                    easing: 'out',
                    startup: true
                },
                legend: {
                    position: 'right',
                    maxLines: 1,
                    alignment: 'center'
                },

                chartArea:{left: 100,top:60,width:'75%',height:'80%'},
                sizeAxis: {
                    minSize: 15
                },
                series: {
                    'East Asia and Pacific': {color: '#C83AE0'},
                    'Middle East and North Africa': {color: '#22FCBB'},
                    'Sub-Saharan Africa': {color: '#FC3E2C'},
                    'Latin America and Caribbean': {color: '#F7D623'},
                    'East Asia and Pacific': {color: '#2312E0'},
                    'South Asia': {color: '#26Cf30'}
                },
                explorer: { 
                    actions: ['dragToZoom', 
                    'rightClickToReset'
                    ],
                    keepInBounds: true,
                    maxZoomIn: 0.4,
                    maxZoomOut: 6,
                    zoomDelta: 7
                }
                
            };

            var malesData = [];
            var femalesData = [];
            {% for i in range(rows|length) %}
            // Data for Male
            malesData[{{i}}] = google.visualization.arrayToDataTable([
                ['Country', 'GDP Per capita', 'Males HIV incidence', 'Region', 'Population'],
                {% for j in range(rows[i]|length) %}
                    ['{{rows[i][j].countryName}}({{rows[i][j].sign}}) - {{rows[i][j].income}}', 
                    {% if rows[i][j].totalGDP == 0 %}
                    ,
                    {% else %}
                    {{rows[i][j].totalGDP}},
                    {% endif %}
                    {% if rows[i][j].malesHIV == 0 %}
                    ,
                    {% else %}
                    {{rows[i][j].malesHIV}},
                    {% endif %}
                    '{{rows[i][j].region}}',
                    {{rows[i][j].population}}]
                    {% if j == rows[i]|length - 1 %}
                    {% else %},
                    {% endif %}

                {% endfor %}
            ]);
            femalesData[{{i}}] = google.visualization.arrayToDataTable([
                ['Country', 'GDP Per capita', 'Females HIV incidence', 'Region', 'Population'],
                {% for j in range(rows[i]|length) %}
                    ['{{rows[i][j].countryName}}({{rows[i][j].sign}}) - {{rows[i][j].income}}', 
                    {% if rows[i][j].totalGDP == 0 %}
                    ,
                    {% else %}
                    {{rows[i][j].totalGDP}},
                    {% endif %}
                    {% if rows[i][j].femalesHIV == 0 %}
                    ,
                    {% else %}
                    {{rows[i][j].femalesHIV}},
                    {% endif %}
                    '{{rows[i][j].region}}',
                    {{rows[i][j].population}}]
                    {% if j == rows[i]|length - 1 %}
                    {% else %},
                    {% endif %}

                {% endfor %}
            ]);
            {% endfor %}


            var currentData = malesData;

            var chart = new google.visualization.BubbleChart(
                document.getElementById('bubblechart'));
            var input = document.getElementById('b1');
            var malesButton = document.getElementById("malesButton");
            var femalesButton =document.getElementById("femalesButton");

            var current = input.value;
            
            function drawChart2() {
                // Disabling the button while the chart is drawing.
                //button.disabled = true;
                google.visualization.events.addListener(chart, 'ready',
                    function() {
                        $(window).scrollTop($('#bubblechart').offset().top);
                    });
                chart.draw(currentData[current], options);
            }

            drawChart2();

            input.addEventListener('change', function(){
                current = parseInt(input.value);
                document.getElementById("currentYear").innerHTML = (1990 +current).toString();
                drawChart2();
            });
            
            malesButton.addEventListener('click', function(){
                femalesButton.className = "buttonSlide";
                if (malesButton.className.indexOf("buttonActive") == -1)
                    malesButton.className += " buttonActive";
                currentData = malesData;
                drawChart2();
            });

            femalesButton.addEventListener('click', function(){
                malesButton.className = "buttonSlide";
                if (femalesButton.className.indexOf("buttonActive") == -1)
                    femalesButton.className += " buttonActive";
                currentData = femalesData;
                drawChart2();
            });

        }
    </script>
</head>

<body>
    <div class="pageWrap">
        <div "menuWrapper">
            <ul id="menu">
                <li>
                    <a class="active" href="home.html"><span class="glyphicon glyphicon-home"></span></a>
                </li>
                <li> <a href="#"> News </a> </li>
                <li> <a href="pivottable.html"> Pivot Table </a> </li>
                <li> <a href="form.html"> Form </a> </li>
                <li> <a class="selected" href="bubblechart.html"> Bubble Chart </a> </li>
                <li class="dropbtn">
                    <a href="#"> Menu </a>
                    <div class="dropdown-content">
                        <a href="#"> Menu 1 </a>
                        <a href="#"> Menu 2 </a>
                        <a href="#"> Menu 3 </a>
                    </div>
                </li>

                <li class="ex" style="float:right"><a class="active" href="#about">Contact</a></li>
            </ul>
        </div>

        <div class="imageCenter">
            <img src="images/bubblechart.png" alt="Form" width="273px" height="215px">
            <h3> Bubble Chart </h3>
        </div>

        <div class="chartWrapper">
            <div id="bubblechart"> </div>
            <input style="width: 50%; display: inline-block; margin: 10px auto;" id = "b1" value="0" type="range" name="points" min="0" max="25" step="0">
            <div style="display: inline-block; margin: 10px" id="currentYear"> 1990 </div>
            <div class="buttonSlideWrapper">
                <button id="malesButton" class="buttonActive buttonSlide"> Males </button>
                <button id="femalesButton" class="buttonSlide"> Females </button>
            </div>
        </div>
    </div>


    <!-- Footer of the web page -->
    <div id="footer">
        <div class="footerWrap">
            <div class="footerMenu">
                <table border="0">
                    <tbody>
                        <tr>
                            <th> Group info </th>
                            <th> Reference </th>
                            <th> General </th>
                        </tr>
                        <tr>
                            <td>
                                <ol>
                                    <li> Tuong Pham - 849323 </li>
                                    <li> Hasibulshamim Anik - 787496 </li>
                                    <li> Joseph Arnaud - 759845 </li>
                                </ol>
                            </td>
                            <td>
                                <ol>
                                    <li> Stack Overflow </li>
                                    <li> W3Schools </li>
                                    <li> AdobeColor </li>
                                </ol>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Ending footer -->
</body>

</html>