<!-- Fixed Template For footer -->

<div style = "position: relative" id="footer">

    <!-- The return to top button -->
    <div style="position: absolute; top: 10px; right: 5px">
        <button style="outline: none" onclick = "goToMenu()" type="button" class="btn btn-warning"> Go To Menu
        <span class="glyphicon glyphicon-th-list"> </span> </button> 
    </div>

    <!-- Footer Wrapper -->
    <div class="footerWrap">
        <div class="footerMenu">
            <table border="0">
                <tbody>
                    <tr>
                        <th> Group info </th>
                        <th> Main Reference </th>
                    </tr>
                    <tr>
                        <td>
                            <ol>
                                <li> Tuong Pham - 849323 </li>
                                <li> Hasibulshamim Anik - 787496 </li>
                                <li> Joseph Arnaud - 759845 </li>
                            </ol>
                        </td>
                        <td>
                            <ol>
                                <li> <a href="http://stackoverflow.com/"> Stack Overflow </a> </li>
                                <li> <a href="https://www.w3schools.com/"> W3Schools </a> </li>
                                <li> <a href="https://color.adobe.com/"> AdobeColor </a> </li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style ="position: absolute; left: 50%; top: 0; width: 500px; color: #ffffff; font-size: 21px">
             Final Project - Foundation of Informatics <br> Sem 1 - 2017
            </div>
        </div>
    </div>
</div>