<!DOCTYPE HTML>

<html>

<head>
    <title> Test filter </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">

    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="pageWrap">
        <!-- Horizontal Menu of the web -->
    <ul id="menu">
        <li>
            <a class="active" href="home.html"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li> <a href="#"> News </a> </li>
        <li> <a href="pivottable.html"> Pivot Table </a> </li>
        <li> <a class="selected" href="form.html"> Form </a> </li>
        <li> <a href="bubblechart.html"> Bubble Chart </a> </li>
        <li class="dropbtn">
            <a href="#"> Menu </a>
            <div class="dropdown-content">
                <a href="#"> Menu 1 </a>
                <a href="#"> Menu 2 </a>
                <a href="#"> Menu 3 </a>
            </div>
        </li>

        <li class="ex" style="float:right"><a class="active" href="#about">Contact</a></li>
    </ul>
    <!-- Ending menu of the  web -->


    <div class="imageCenter">
        <img src="../images/form.png" alt="Form" width="200px" height="200px">
        <h3> Pivot Table Form </h3>
    </div>
    
    <form id="form1" method="POST" action="/pivottable.html">
        <div style="display: flex; justify-content: center">
            <div class="formPivot" style="position: relative; display: inline-block;">
                <fieldset>
                    <legend><span class="number">1</span> General Information </legend>
                    <label> Min Salary </label>
                    <select id="minSalary" name="minSalary">
                <option value = "1000"> 1000 </option>
                <option value = "10000"> 10000 </option>
                <option value = "50000"> 50000 </option>
                <option value = "100000"> 100000 </option>
                </select>
                    <label> Country </label>
                    <select id="country" name="country">
                <option value ="australia"> Australia </option>
                <option value ="vietnam"> VietNam </option>
                <option value ="USA"> USA </option>
                </select>
                    <label> Is Full Time Employee? </label>
                    <select id="isFullTime " name="isFullTime">
                <option value = "yes"> yes </option>
                <option value = "no"> no </option>
                <option value = "both"> Both </option>
                </select>
                </fieldset>
                <div class="wrapButtonNext">
                <button class="buttonNext" type="button" onClick="showHiddenPivot(0)"> 
                <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
                </div>
            </div>

            <div class="formPivot" style="display: none; position: relative;">
                <fieldset>
                    <legend><span class="number">2</span> Maximum Salary </legend>
                    <label> Max Salary </label>
                    <input class="required"  type="text" name="maxSalary" placeholder="Input the max Salary *">
                </fieldset>
                <div class="wrapButtonNext">
                <button class="buttonNext" type="button" onClick="showHiddenPivot(1)"> 
                <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
                </div>

            </div>
        </div>
        <div id="submitButton" style="clear:both; width: 50%; margin: 0 auto; display: none;">
            <input type="submit" value="Generate Pivot Table">
        </div>

    </form>
    </div>

    <!-- Footer of the web page -->
    <div id="footer">
        <div class="footerWrap">
            <div class="footerMenu">
                <table border="0">
                    <tbody>
                        <tr>
                            <th> Group info </th>
                            <th> Reference </th>
                            <th> General </th>
                        </tr>
                        <tr>
                            <td>
                                <ol>
                                    <li> Tuong Pham - 849323 </li>
                                    <li> Hasibulshamim Anik - 787496 </li>
                                    <li> Joseph Arnaud - 759845 </li>
                                </ol>
                            </td>
                            <td>
                                <ol>
                                    <li> Stack Overflow </li>
                                    <li> W3Schools </li>
                                    <li> AdobeColor </li>
                                </ol>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Ending footer -->
    <script>
        function showHiddenPivot(indexForm) {
            // Check if all the required inputs are filled 

            var i = 0;
            var pivotForms = document.getElementsByClassName("formPivot");

            var requiredInput = pivotForms[indexForm].getElementsByClassName("required");
            for (j = 0; j < requiredInput.length; j++){
                var valueInput = requiredInput[j].value;
                if (valueInput == ''){
                    nameInput = requiredInput[j].name;
                    alert("The field " + nameInput + " is not entered. Please try again!");
                    return;
                }
            }
    
            if (indexForm == pivotForms.length - 1) {
                document.getElementById("submitButton").style.display = "block";
                return;
            }

            pivotForms[indexForm + 1].style.display = "inline-block";
        }
    </script>
</body>

</html>