<!DOCTYPE HTML>

<html>

<head>
    <title> Test filter </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/pivotTable.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="pageWrap">
    <ul id="menu">
        <li>
            <a class="active" href="#"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li> <a href="#"> News </a> </li>
        <li> <a class="selected" href="pivottable.html"> Pivot Table </a> </li>
        <li> <a href="submit.html"> Form </a> </li>
        <li class="dropbtn">
            <a href="#"> Menu </a>
            <div class="dropdown-content">
                <a href="#"> Menu 1 </a>
                <a href="#"> Menu 2 </a>
                <a href="#"> Menu 3 </a>
            </div>
        </li>

        <li class="ex" style="float:right"><a class="active" href="#about">Contact</a></li>
    </ul>

    <div id="pivotTable">
        <table border="0">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Min Salary </th>
                    <th> Country </th>
                    <th> Is Full Time? </th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(rows|length) %}
                <tr> 
                    <td> {{rows[i].name}} </td> 
                    <td> {{rows[i].salary}} </td>
                    <td> {{rows[i].country}} </td> 
                    <td>
                        {% if rows[i].isFullTime %}
                        <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

    <!-- Footer of the web page -->
    <div id="footer">
        <div class="footerWrap">
            <div class="footerMenu">
                <table border="0">
                    <tbody>
                        <tr>
                            <th> Group info </th>
                            <th> Reference </th>
                            <th> General </th>
                        </tr>
                        <tr>
                            <td>
                                <ol>
                                    <li> Tuong Pham - 849323 </li>
                                    <li> Hasibulshamim Anik - 787496 </li>
                                    <li> Joseph Arnaud - 759845 </li>
                                </ol>
                            </td>
                            <td>
                                <ol>
                                    <li> Stack Overflow </li>
                                    <li> W3Schools </li>
                                    <li> AdobeColor </li>
                                </ol>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Ending footer -->

</body>

</html>